@import "tailwindcss";

:root {
  --background: #e7eaf3;
  --foreground: #11141d;
  --primary: #2b375e;
  --secondary: #90a0d0;
  --accent: #435fb1;
  --card-background: #b0b5c2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-quicksand);
  --color-card-background: var(--card-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0f18;
    --foreground: #e3e6ef;
    --primary: #a0acd3;
    --secondary: #2f3f70;
    --accent: #4d68bc;
    --card-background: #212942;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Quicksand, sans-serif;
}
